# Data Integration & Schema Creation

## Authour:
    - TATI Mohammed
+ 26-03-23

## Libraries needed

In [9]:
# Data manipulation
import pandas as pd

# SQL management package
from mysql_pack.database import Database

## Database & Schema Creation

### Database

In [10]:
db = Database(username="tweetyx",
              password="24042002",
              database="task03")

Database task03 created successfully!!
Connected to task03 successfully!!

### Tables

+ actor

In [11]:
# actor_id int PRIMARY KEY,first_name varchar(45),last_name varchar(45), last_update datetime
db.create_table()

Enter the name of the table: actor
Enter the columns (separeted with comma) with their data types: actor_id int PRIMARY KEY,first_name varchar(45),last_name varchar(45), last_update datetime

'Table actor created!!'

+ Country

In [13]:
# country_id int PRIMARY KEY,country varchar(50),last_update datetime
db.create_table()

Enter the name of the table: country
Enter the columns (separeted with comma) with their data types: country_id int PRIMARY KEY,country varchar(50),last_update datetime

'Table country created!!'

+ Category

In [14]:
# category_id int PRIMARY KEY,name varchar(25),last_update datetime
db.create_table()

Enter the name of the table: category
Enter the columns (separeted with comma) with their data types: category_id int PRIMARY KEY,name varchar(25),last_update datetime

'Table category created!!'

+ City

In [15]:
# city_id int PRIMARY KEY,city varchar(50),country_id int,last_update datetime,
# FOREIGN KEY (country_id) REFERENCES country (country_id)
db.create_table()

Enter the name of the table: city
Enter the columns (separeted with comma) with their data types: city_id int PRIMARY KEY,city varchar(50),country_id int,last_update datetime, FOREIGN KEY (country_id) REFERENCES country (country_id)

'Table city created!!'

+ Address

In [16]:
# id_address int PRIMARY KEY, address varchar(50), address2 varchar(50), district varchar(20), city_id int, postal_code varchar(10), phone varchar(20), last_update datetime,
# FOREIGN KEY (city_id) REFERENCES city (city_id)
db.create_table()

Enter the name of the table: address
Enter the columns (separeted with comma) with their data types: id_address int PRIMARY KEY, address varchar(50), address2 varchar(50), district varchar(20), city_id int, postal_code varchar(10), phone varchar(20), last_update datetime, FOREIGN KEY (city_id) REFERENCES city (city_id)

'Table address created!!'

+ Language

In [17]:
# language_id int PRIMARY KEY,name varchar(20),last_update datetime
db.create_table()

Enter the name of the table: language
Enter the columns (separeted with comma) with their data types: language_id int PRIMARY KEY,name varchar(20),last_update datetime

'Table language created!!'

+ Film

In [20]:
# film_id int PRIMARY KEY,title VARCHAR(255),description text,release_year int,language_id int,rental_duration int,rental_rate float,length int,replacement_cost float,rating float,last_update datetime,special_features text,full_text LONGTEXT
db.create_table()

Enter the name of the table: film
Enter the columns (separeted with comma) with their data types: film_id int PRIMARY KEY,title VARCHAR(255),description text,release_year int,language_id int,rental_duration int,rental_rate float,length int,replacement_cost float,rating float,last_update datetime,special_features text,full_text LONGTEXT

'Table film created!!'

+ Film Actor

In [21]:
# actor_id int,film_id int,last_update datetime, PRIMARY KEY(actor_id,film_id),
# FOREIGN KEY (actor_id) REFERENCES actor (actor_id), FOREIGN KEY (film_id) REFERENCES film (film_id)
db.create_table()

Enter the name of the table: film_actor
Enter the columns (separeted with comma) with their data types: actor_id int,film_id int,last_update datetime, PRIMARY KEY(actor_id,film_id), FOREIGN KEY (actor_id) REFERENCES actor (actor_id), FOREIGN KEY (film_id) REFERENCES film (film_id)

'Table film_actor created!!'

+ Film Category

In [24]:
# film_id int, category_id int,last_update datetime, PRIMARY KEY(film_id,category_id),
# FOREIGN KEY (film_id) REFERENCES film (film_id), FOREIGN KEY (category_id) REFERENCES category (category_id)
db.create_table()

Enter the name of the table: film_category
Enter the columns (separeted with comma) with their data types: film_id int, category_id int,last_update datetime, PRIMARY KEY(film_id,category_id), FOREIGN KEY (film_id) REFERENCES film (film_id), FOREIGN KEY (category_id) REFERENCES category (category_id)

'Table film_category created!!'

+ Staff

In [26]:
# staff_id int PRIMARY KEY,first_name varchar(45),last_name varchar(45),address_id int,email varchar(50),store_id int,active boolean,username varchar(19),password varchar(45),last_update datetime,picture LONGBLOB
# ,FOREIGN KEY (address_id) REFERENCES address (id_address)
db.create_table()

Enter the name of the table: staff
Enter the columns (separeted with comma) with their data types: staff_id int PRIMARY KEY,first_name varchar(45),last_name varchar(45),address_id int,email varchar(50),store_id int,active boolean,username varchar(19),password varchar(45),last_update datetime,picture LONGBLOB,FOREIGN KEY (address_id) REFERENCES address (id_address)

'Table staff created!!'

+ Store

In [27]:
# store_id int PRIMARY KEY,manager_staff_id int,address_id int,last_update datetime,
# FOREIGN KEY (manager_staff_id) REFERENCES staff(staff_id), FOREIGN KEY (address_id) REFERENCES address (id_address)
db.create_table()

Enter the name of the table: store
Enter the columns (separeted with comma) with their data types: store_id int PRIMARY KEY,manager_staff_id int,address_id int,last_update datetime,FOREIGN KEY (manager_staff_id) REFERENCES staff(staff_id), FOREIGN KEY (address_id) REFERENCES address (id_address)

'Table store created!!'

+ Customer

In [28]:
# customer_id int PRIMARY KEY,store_id int,first_name varchar(45),last_name varchar(45),email varchar(50),address_id int,activebool boolean,create_date date,last_update datetime,active int
# ,FOREIGN KEY (store_id) REFERENCES store(store_id), FOREIGN KEY (address_id) REFERENCES address (id_address)
db.create_table()

Enter the name of the table: customer
Enter the columns (separeted with comma) with their data types: customer_id int PRIMARY KEY,store_id int,first_name varchar(45),last_name varchar(45),email varchar(50),address_id int,activebool boolean,create_date date,last_update datetime,active int,FOREIGN KEY (store_id) REFERENCES store(store_id), FOREIGN KEY (address_id) REFERENCES address (id_address)

'Table customer created!!'

+ Inventory

In [29]:
# inventory_id int PRIMARY KEY,film_id int,store_id int,last_update datetime,
# FOREIGN KEY (film_id) REFERENCES film(film_id), FOREIGN KEY (store_id) REFERENCES store (store_id)
db.create_table()

Enter the name of the table: inventory
Enter the columns (separeted with comma) with their data types: inventory_id int PRIMARY KEY,film_id int,store_id int,last_update datetime,FOREIGN KEY (film_id) REFERENCES film(film_id), FOREIGN KEY (store_id) REFERENCES store (store_id)

'Table inventory created!!'

+ Rental

In [30]:
# rental_id int PRIMARY KEY,rental_date datetime,inventory_id int,customer_id int,return_date datetime,staff_id int,last_update datetime
# FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id), FOREIGN KEY (customer_id) REFERENCES customer (customer_id),
# FOREIGN KEY (staff_id) REFERENCES staff(staff_id)
db.create_table()

Enter the name of the table: rental
Enter the columns (separeted with comma) with their data types: rental_id int PRIMARY KEY,rental_date datetime,inventory_id int,customer_id int,return_date datetime,staff_id int,last_update datetime,FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id), FOREIGN KEY (customer_id) REFERENCES customer (customer_id),FOREIGN KEY (staff_id) REFERENCES staff(staff_id)

'Table rental created!!'

+ Payment

In [31]:
# payment_id int PRIMARY KEY, customer_id int,staff_id int,rental_id int,amount float,payment_date datetime,
# FOREIGN KEY (rental_id) REFERENCES rental(rental_id), FOREIGN KEY (customer_id) REFERENCES customer (customer_id),
# FOREIGN KEY (staff_id) REFERENCES staff(staff_id)
db.create_table()

Enter the name of the table: payment
Enter the columns (separeted with comma) with their data types: payment_id int PRIMARY KEY, customer_id int,staff_id int,rental_id int,amount float,payment_date datetime,FOREIGN KEY (rental_id) REFERENCES rental(rental_id), FOREIGN KEY (customer_id) REFERENCES customer (customer_id),FOREIGN KEY (staff_id) REFERENCES staff(staff_id)

'Table payment created!!'

## Data inserting

### Actor

In [32]:
into_actor = "INSERT INTO actor VALUES(%s, %s, %s, %s)"
db.insert_data(csv='../data/actor-1677886980800.csv', query=into_actor)

### Country

In [33]:
into_country = "INSERT INTO country VALUES(%s, %s, %s)"
db.insert_data(csv='../data/country-1677887083257.csv', query=into_country)

### Category

In [34]:
into_category = "INSERT INTO category VALUES(%s, %s, %s)"
db.insert_data(csv='../data/category-1677887044868.csv', query=into_category)

### City

In [35]:
into_city = "INSERT INTO city VALUES(%s, %s, %s, %s)"
db.insert_data(csv='../data/city-1677887064709.csv', query=into_city)

### Address

In [36]:
into_address = "INSERT INTO address VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/address-1677887015727.csv', query=into_address)

### Language

In [37]:
into_language = "INSERT INTO language VALUES(%s, %s, %s)"
db.insert_data(csv='../data/language-1677887305001.csv', query=into_language)

### Film

In [42]:
into_film = "INSERT INTO film VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/film-1677887139521.csv', query=into_film)

### Film_actor

In [43]:
into_Film_actor = "INSERT INTO film_actor VALUES(%s, %s, %s)"
db.insert_data(csv='../data/film_actor-1677887154866.csv', query=into_Film_actor)

### Film_category

In [44]:
into_Film_category = "INSERT INTO film_category VALUES(%s, %s, %s)"
db.insert_data(csv='../data/film_category-1677887171057.csv', query=into_Film_category)

### Staff

In [40]:
into_staff = "INSERT INTO staff VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/staff-1677887360024.csv', query=into_staff)

### Store

In [41]:
into_store = "INSERT INTO store VALUES(%s, %s, %s, %s)"
db.insert_data(csv='../data/store-1677887380221.csv', query=into_store)

### Customer

In [45]:
into_customer = "INSERT INTO customer VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/customer-1677887114572.csv', query=into_customer)

### Inventory

In [46]:
into_inventory = "INSERT INTO inventory VALUES(%s, %s, %s, %s)"
db.insert_data(csv='../data/inventory-1677887199648.csv', query=into_inventory)

### Rental

In [48]:
into_rental = "INSERT INTO rental VALUES(%s, %s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/rental-1677887346717.csv', query=into_rental)

### Payment

In [49]:
into_payment = "INSERT INTO payment VALUES(%s, %s, %s, %s, %s, %s)"
db.insert_data(csv='../data/payment-1677887325957.csv', query=into_payment)

# Ending the session

In [50]:
db.close()

Connection to the database closed successfully!!